.footer {
  background: $darkBlue;
  padding: 40px 20px 0 20px;

  .container:nth-of-type(1) {
    padding-bottom: 30px;
    border-bottom: solid 0.5px $grey;
  }

  .container.copyright {
    padding: 20px 0 20px;
    display: flex;
    justify-content: space-between;
    color: $darkGrey;
    align-items: center;

    a {
      color: darkGrey;
      margin: 0 5px;
    }

    a:hover {
      color: $secondary;
    }

    .icons {
      display: flex;
      align-items: center;
    }

    .icons p {
      margin-right: 10px;
    }
  }

  .footer-column {
    width: 25%;
    display: flex;
    flex-direction: column;

    .footer-column-title {
      font-family: $playfair;
      margin-bottom: 20px;
      color: $w;
      font-weight: 500;
      font-size: 20px;
    }

    .footer-column-content {
      display: flex;
      flex-direction: column;
      font-family: $barlow;
      margin-bottom: 15px;

      .subtitle {
        font-size: 15px;
        font-weight: 600;
        color: $darkGrey;
      }

      .text {
        color: $grey;
      }
    }

    &.links {
      a {
        margin-bottom: 10px;
        font-family: $barlow;
        color: $grey;
        transition: color ease-in-out 300ms;
      }

      a:hover,
      a.link-selected {
        color: $secondary;
      }
    }
  }
}

// Responsiveness

@media screen and (max-width: $md) {
  .footer {
    .footer-column {
      width: 50%;
      margin-bottom: 20px;
    }
  }
}

@media screen and (max-width: $sm) {
  .footer {
    .footer-column .footer-column-title {
      font-size: 15px;
    }

    .footer-column.links a {
      font-size: 13px;
    }

    .footer-column .footer-column-content {
      .subtitle,
      .text {
        font-size: 13px;
      }
    }
  }
}
