.hero {
  min-height: 600px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;

  .container {
    height: 100%;
    align-content: center;
    position: relative;
    padding: 20px;
  }

  .circle-background {
    width: 300px;
    height: 300px;
    position: absolute;
    background: $primary;
    top: 50%;
    transform: translateY(-50%) scale(3);
    border-radius: 50%;
    transition: all ease-in-out 300ms;
  }

  .main-left,
  .main-right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
    position: relative;
  }

  .hero-image-main-container {
    position: relative;
  }

  .image-container {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50%;
    border: 10px solid $w;
  }

  .hero-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    position: relative;
    z-index: 1000;
  }

  .hero-image-standard {
    height: 100%;
  }

  .hero-discount {
    position: absolute;
    font-family: $barlow;
    color: $w;
    text-transform: uppercase;
    width: 110px;
    height: 110px;
    top: 3%;
    right: 5%;
    background: $secondary;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    font-weight: 600;
    text-align: right;

    .hero-discount-detail:nth-of-type(1) {
      font-size: 35px;
      margin-right: 10px;
      line-height: 35px;
    }

    .hero-discount-detail:nth-of-type(2) {
      font-size: 20px;
      margin-right: 10px;
    }
  }

  // Konten main hero
  .main-right {
    align-items: flex-start;

    h1,
    h3 {
      font-family: $playfair;
      width: 100%;
      text-align: left;
      color: $darkBlue;
    }

    .main-sub-1 {
      width: auto;
      font-weight: 400;
      font-size: 25px;
      position: relative;
      line-height: 25px;
    }

    .main-sub-1::before {
      content: '';
      position: absolute;
      width: 60px;
      border-bottom: 2px solid $darkBlue;
      left: 110%;
      top: 60%;
      transform: translateY(-50%);
    }

    .main-sub-2 {
      color: $primary;
      font-size: 70px;
    }

    .main-sub-3 {
      font-size: 50px;
      margin-bottom: 10px;
    }

    .main-content {
      width: 80%;
      font-family: $barlow;
      color: $darkerGrey;
      font-size: 18px;
      text-align: left;
      margin-bottom: 15px;
      position: relative;
      line-height: 1.5;
    }

    .buttons {
      justify-content: left;
    }

    .buttons button:nth-of-type(1) {
      margin-left: 0;
    }
  }

  // Hero page yang lain
}

// Responsive
.hero {
  min-height: 650px;

  // Lingkaran bg belakang
  @media screen and (max-width: $lg) {
    .circle-background {
      width: 200px;
      height: 200px;
      top: 0;
    }
  }

  @media screen and (max-width: $xl) and (min-width: $lg) {
    .circle-background {
      width: 250px;
      height: 250px;
    }
  }

  // Konten
  @media screen and (max-width: $md) {
    .main-left,
    .main-right {
      width: 100%;
    }

    .main-left {
      .hero-image {
        margin-top: 50px;
        width: 50%;
        min-width: 250px;
        padding: 0;
      }

      .hero-image-standard {
        width: 100%;
        height: 100%;
        min-width: none;
        margin-top: 0;
      }
    }

    .main-right {
      .main-sub-1 {
        font-size: 18px;
      }

      .main-sub-2 {
        font-size: 50px;
      }

      .main-sub-3 {
        font-size: 36px;
      }

      .main-content {
        font-size: 16px;
        width: 100%;
      }
    }
  }

  // Gambar hero standard dan discount
  @media screen and (max-width: $md) {
    .main-left {
      .image-container {
        width: 250px;
        height: 250px;
      }

      .hero-discount {
        top: 10%;
        left: 60%;
        width: 90px;
        height: 90px;

        .hero-discount-detail:nth-of-type(1) {
          font-size: 30px;
        }

        .hero-discount-detail:nth-of-type(2) {
          font-size: 15px;
        }
      }
    }
  }
}
