.popular-items {
  padding-bottom: 100px;
}

.popular-items-wrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: $md) {
  .popular-items-wrapper {
    .item-card,
    .items-navigation {
      width: 48%;
      margin-bottom: 25px;
    }

    .item-card {
      .item-image-container {
        height: 150px;
      }

      .item-content {
        .item-description {
          font-size: 15px;
        }
      }
    }
  }
}
