.reservation {
  padding: 100px 0;
  background: $lightBG;
}

.reservation .container {
  .reservation-form {
    width: 100%;
    form {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    form .reservation-input-fields {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 20px;
      input {
        display: inline-block;
        width: 30%;
        font-family: $barlow;
        font-size: 18px;
        margin-bottom: 20px;
        border: none;
        padding: 16px 10px;
        font-weight: 500;
        color: $darkBlue;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }

      input:focus {
        outline: 2px solid $primary;
      }
    }

    form .reservation-input-button {
      text-align: center;

      button {
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}

@media screen and (max-width: $lg) {
  .reservation {
    .container .reservation-form form .reservation-input-fields {
      input {
        width: 48%;
      }
    }
  }
}
