* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.center {
  margin-top: 20px;
  text-align: center;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $b;
}

ul {
  list-style: none;
}

.bg-grey {
  background-color: $lightBG;
}

span {
  display: inline-block;
}
