.section-title-wrapper {
  text-align: center;
  padding: 20px 0;
  width: 100%;
}

.section-title-1,
.section-title-2 {
  font-family: $playfair;
}

.section-title-1 {
  color: $primary;
  font-weight: 400;
  font-size: 25px;
}

.section-title-2 {
  font-size: 50px;
  color: $darkBlue;
  margin-bottom: 15px;
}

.section-text {
  font-family: $barlow;
  color: $darkBlue;
  font-size: 18px;
  text-align: left;
  margin-bottom: 15px;
  position: relative;
  line-height: 2;
}

.quote {
  font-family: $barlow;
  font-style: italic;
  color: $darkBlue;
  font-size: 18px;
  line-height: 1.5;
  font-weight: 500;
}

.item-name {
  text-transform: capitalize;
  font-family: $playfair;
  color: $darkBlue;
  font-weight: 600;
  font-size: 20px;
}

.item-price {
  font-family: $barlow;
  color: $primary;
  font-size: 19px;
  font-weight: 600;
}

.item-description {
  font-family: $barlow;
  color: $darkBlue;
  line-height: 1.5;
}

.item-order-now,
.item-order-now a {
  font-family: $barlow;
  color: $secondary;
  font-weight: 500;
}

.stars {
  svg {
    fill: $y;
  }
}

.jumbotron-item-text {
  font-family: $barlow;
  color: $darkBlue;
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
}

// Responsive
@media screen and (max-width: $md) {
  .section-title-1 {
    font-size: 18px;
  }

  .section-title-2 {
    font-size: 36px;
  }

  .section-text {
    font-size: 16px;
  }
}
