@import './variables';
@import './reset';

//Typography
@import './typography';

// Animation
@import './animations';

// Layout
@import './layout/container';
@import './layout/button';
@import './layout/category-card';
@import './layout/footer';
@import './layout/hero';
@import './layout/navbar';
@import './layout/about-us';
@import './layout/reservation';
@import './layout/testimonials';
@import './layout/item-card-1';
@import './layout/item-card-2';
@import './layout/item-card-navigation';
@import './layout/popular-items';
@import './layout/featured-menu';
@import './layout/all-items';
@import './layout/jumbotron-1';
@import './layout/jumbotron-2';
@import './layout/jumbotron-3';
@import './layout/jumbotron-4';
@import './layout/our-team';
@import './layout/our-awards';
@import './layout/photo-gallery';

// Pages
@import './pages/showcase';
@import './pages/home';
@import './pages/contact';
